[Desktop Entry]
Version=1.0
Name=Mullvad Browser
GenericName=Web Browser
Comment=Privacy-focused browser
Exec=mullvad-browser %u
Icon=mullvad-browser
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=mullvadbrowser
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=mullvad-browser --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=mullvad-browser --private-window %u
